<h1 class="page-title">お気に入り</h1>

<% if @recipes.empty? %>
  <div class="box">
    <p>お気に入りはまだありません。</p>
    <%= link_to "レシピ一覧へ", recipes_path, class: "btn" %>
  </div>
<% else %>
  <div class="grid">
    <% @recipes.each do |recipe| %>
      <div class="card">
        <div class="card__head">
          <h2 class="card__title"><%= link_to recipe.title, recipe_path(recipe), class: "link" %></h2>
          <div class="muted">投稿者：<%= recipe.user.email %></div>
        </div>

        <div class="card__foot">
          <%= render "recipes/favorite_button", recipe: recipe %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
